<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/sign-up}" method="post" th:object="${signUpForm}">
    <input type="text" placeholder="이메일" th:field="*{email}">
    <input type="password" th:field="*{password}">
    <button type="reset">
        초기화
    </button>
    <button type="submit">
        가입
    </button>
    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name<small>
</form>

</body>
</html>